<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnksi.defect">

    <application>
        <activity android:name="com.cnksi.common.activity.ImageDetailsActivity" />

        <activity android:name="com.cnksi.defect.activity.AddDefecctActivity" />

    </application>
</manifest>
