*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
app/
captures/
cnksicore/
sjjc/
resjjc/
sjjcmianyang/
yanshou/
*.zip
gradle.properties
gradle/
gradlew
gradlew.bat
build.gradle
setting.gradle
adaptionsjjc/build