<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cnksi.sjjc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 蓝牙相关 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 摄像头相关权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_app"
        android:label="@string/app_bdyw"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qpXBSFGkHytABR7n2Gz2jjOl7e3omC7A" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LoginActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NewLauncherActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 首页-->
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.TaskRemindActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.NewTransformRecordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.CopyValueReportActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.indoortempretureactivity.IndoorHumitureRecordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.indoortempretureactivity.NewIndoorHumitureRecordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.indoortempretureactivity.IndoorHumitureReportActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CopyBaseDataActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.DifferentialMotionRecordActivity2"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.AllDeviceListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.CopyAllValueActivity3"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.DrawCircleImageActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.ImageDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--<activity-->
        <!--android:name=".activity.HWCWMainActivity"-->
        <!--android:configChanges="keyboardHidden|screenSize|orientation"-->
        <!--android:launchMode="singleTask"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"/>-->

        <activity
            android:name=".activity.hwcw.NewHwcwActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.hwcw.NewHwcwInforActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.hwcw.NewHwcwReportActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.AddTaskActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.WorkPlanInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--<activity-->
        <!--android:name=".activity.JYHPJActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"/>-->
        <!--<activity-->
        <!--android:name=".activity.PJMainActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"/>-->
        <!--<activity-->
        <!--android:name=".activity.HongWaiCeWenReportActivity"-->
        <!--android:configChanges="keyboardHidden|screenSize|orientation"-->
        <!--android:launchMode="singleTop"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"/>-->
        <activity
            android:name=".activity.SignNameActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.TypeListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".sync.NetWorkSyncActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".sync.UsbSyncActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 室内温湿度报告 -->
        <activity
            android:name=".activity.JZLFenJieKaiGuanReportActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- dialogActivity -->

        <!--<activity-->
        <!--android:name=".activity.DialogActivity"-->
        <!--android:configChanges="keyboardHidden|screenSize|orientation"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/MyDialogStyle"-->
        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"/>-->

        <!-- 播放视频Activity -->

        <activity
            android:name=".activity.PlayVideoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!--<activity-->
        <!--android:name=".activity.QinYouShiByqYanShouActivity"-->
        <!--android:configChanges="keyboardHidden|screenSize|orientation"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustPan"/>-->
        <activity
            android:name=".activity.GetSendLetterActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.GetSendLetterReportActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 防小动物措施检查界面 -->
        <activity
            android:name=".activity.PreventAnimalActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 防小动物措施检查界面 -->
        <activity
            android:name=".activity.PreventAnimalSecondActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 防小动物措施报告界面 -->
        <activity
            android:name=".activity.AnimalReportActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 防小动物措施现存孔洞界面 -->
        <activity
            android:name=".activity.XianCunHoleActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 防小动物措施发现孔洞界面 -->
        <activity
            android:name=".activity.DiscoverHoleActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 蓄电池检测界面 -->
        <activity
            android:name=".activity.batteryactivity.BatteryTestActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 蓄电池测试仪器界面 -->
        <activity
            android:name=".activity.batteryactivity.BatteryDeviceDetectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BatteryDefect"
            android:windowSoftInputMode="adjustPan" />

        <!-- batterydialogActivity -->

        <activity
            android:name=".activity.batteryactivity.BatteryDialogActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysVisible" />

        <activity
            android:name=".activity.DefectControlActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!--跳闸情况-->
        <activity
            android:name=".activity.gztz.TZQKActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!--保护动作情况-->
        <activity
            android:name=".activity.gztz.BHDZQKActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!--保护动作记录-->
        <activity
            android:name=".activity.gztz.BHDZJLActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!--保护动作记录设备选择-->
        <activity
            android:name=".activity.gztz.BHDZJLXZSBActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BatteryDefect"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!--故障跳闸生成报告界面-->
        <activity
            android:name=".activity.gztz.GZTZRecordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!--故障跳闸报告界面-->
        <activity
            android:name=".activity.gztz.GZTZReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- batteryfinishActivity -->
        <activity
            android:name=".activity.batteryactivity.BatteryFinishActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <!-- 蓄电池报告界面 -->
        <activity
            android:name=".activity.batteryactivity.BatteryTestReportActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 连接数据线后打开数据同步端口 -->


        <activity android:name="com.cnksi.core.activity.PermissionActivity" />


        <receiver android:name=".receiver.NetWorkDisableReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <service
            android:name=".aidlservice.UpLoadDataService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.LoadData" />
            </intent-filter>
        </service>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity
            android:name=".activity.TJWTActivity"
            android:label="@string/title_activity_tjwt"
            android:theme="@style/AppTheme" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cnksi.sjjc.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>