<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cnksi.common">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>

        <receiver android:name="com.cnksi.common.receiver.NetWorkDisableReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.ImageDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LandSignNameActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.DrawCircleImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DeviceSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.XJSyncActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddTaskActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
